

#wrap {
  width:100%;
  height:100%;
  position: relative;
  /* 由于存在JS控制宽高的子元素，onResize存在先后更新，会导致scroll-x短暂出现 */
  overflow: hidden; 
}

/* top bar */
#hero_top {
  position: absolute;
  top: 15px;
  left: 0px;
  background: rgba(0,0,0,0);
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding:0 50px;
  z-index: 110;
  overflow: hidden;
}

#hero_top > img {
  float: left;
}

#navbar__opener {
  width: 32px;
  height: 48px;
  /* top:15px; */
  right: 50px;
  display: block;
  position: absolute;
  cursor: pointer;
}

#navbar__opener:hover > span {
  background-color: #ef0d33;
}

#navbar__opener > span {
  width: 32px;
  height: 3px;
  transition: transform .3s ease-out, background-color .3s ease-in-out;
  position: absolute;
  background: #fff;
}

#navbar__opener > span:first-child {top:13px;}
#navbar__opener > span:nth-child(2) {top: 21px;}
#navbar__opener > span:nth-child(3) {top: 21px;}
#navbar__opener > span:last-child {top: 29px;}

#navbar__opener.close_btn > span:first-child { width: 0px;}
#navbar__opener.close_btn > span:nth-child(2) {transform: rotate(45deg)}
#navbar__opener.close_btn > span:nth-child(3) {transform: rotate(-45deg)}
#navbar__opener.close_btn > span:last-child {width: 0px;}

#hero_top > div {
  float: right;
}

#menu {
  padding-top: 6.875rem;
  margin-left: 60%; 
}

.menu_link {
  color: #fff;
  font-size: 60px;
}

/* .menu_link:hover {
  color: #ef0d33
} */

/* home hero part */
#hero {
  background: #111517;
  position: relative;
}

#cover_video {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #111517;
}

#cover_video button {
  width: 48px;
  height: 48px;
  position: absolute;
  right: 48px;
  top: 48px;
  cursor: pointer;
  background: transparent;
  border: none;
}

#cover_video button span {
  display: block;
  position: absolute;
  width: 32px;
  height: 3px;
  left: 16px;
  transition: .25s ease-in-out,background-color .3s ease-out;
  background-color: #fff;
}

#cover_video button span:first-child {transform: rotate(45deg)}
#cover_video button span:last-child {transform: rotate(-45deg)}

#cover_video video{
  width: 100%;
  height: 100%;
}

#hero_item_left {
  position: absolute;
  left: 15%;
  /* top: 360px; */
  top: 55%;
  z-index:90;
  color: #fff;
}

#hero_left_text > p:nth-child(1) {font-size: 108px;}

#hero_left_text > p:nth-child(2) {font-size: 58px;}

#hero_item_right {
  display: none;
  position: absolute;
  z-index:90;
  left: 532px;
  top: 400px;
}

#btn_play {
  width: 80px;
  height: 80px;
  background: transparent;
  border:none;
  cursor: pointer;
}

#btn_play:hover::before {
  transform: scale(1.2);
  border-color: #fff;
}

#btn_play::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px;
  border-radius: 50%;
  border: 4px solid rgb(0, 150, 136);
  transition: background-color .3s ease,transform .3s ease,border-color .3s ease;
  box-sizing: border-box;
}

#btn_play:hover::after {
  border-left-color: #fff;
}

#btn_play::after {
  content: '';
  width: 0px;
  height: 0px;
  border-left: 22px solid rgb(0, 150, 136);
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -16px 0 0 -7px;
  transition: border-left-color .3s ease;
}

#hero_bg_video {
  position: absolute;
  overflow: hidden;
}

#hero_bg_video video{
  z-index: 50;
}

/* hero navbar cover */
#navbar {
  width: 100%;
  height: 100%;
  background-color: #111517;
  position: fixed;
  top: 0px;
  z-index: 110;
}

#hero_bg_video div {
  width: 100%;
  height: 100%;
  z-index: 60;
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgba(0,0,0,.5)
}


/* home main content */
.container {
  width: 100%;
  height: 1000px;
  position: relative;
}

.container > div {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 0 60px;
  margin: 0 auto;
  position: relative;
  transition: transform 0.9s ease 0.15s, opacity 0.9s ease 0.15s;
  opacity: 0;
  transform: translateY(50px)
}

.up > div {
  opacity: 1;
  transform: translateY(0);
}

/* text in content */
.content_text {
  position: absolute;
  z-index: 90;
}

.title {
  position: relative;
  /* font-size: 72px;  adjust myself*/  
  font-size: 66px;
  font-weight: bold;
}

.split-line {
  background-color: #fff;
  width: 40px;
  height: 4px;
  margin: 15px 0; 
}

.detail {
  font-size: 20px;
  transition: transform 0.9s ease 0.15s, opacity 0.9s ease 0.15s;
  opacity: 0;
  transform: translateY(50px)
}

.up .detail {
  opacity: 1;
  transform: translateY(0);
}

/* img in content */

.content_text.long_distance { top: 310px; }

.content_text.mid_distance { top: 210px; }

.content_text.short_distance { top: 180px; }

.content_img {
  right: 0px;
  top: 0px;
  position: absolute;
  z-index: 80;
}

.subImage {
  z-index: 70;
  margin-top: 20px;
  transition: transform 1.2s ease 0.15s, opacity 1.2s ease 0.15s;
  opacity: 0;
  transform: translateY(50px)
}

.up .subImage {
  opacity: 1;
  transform: translateY(0);
}

/* 备案号链接 */
.bottomLink {
  position: absolute!important;
  width: 130px;
  left: 50%;
  bottom: 5px;
  margin-left: -65px;
}

.bottomLink:link, .bottomLink:visited {
  color: rgba(0,0,0,.46)
}

/* responsive */
@media screen and (max-width: 1600px) {
  .title { font-size: 62px }

  .detail { font-size: 18.8px }

  #hero_left_text > p:nth-child(1) { font-size: 97px }

  #hero_left_text > p:nth-child(2) { font-size: 52px }

  .menu_link { font-size: 54px }
}

@media screen and (max-width: 1366px) {
  .title { font-size: 52px }

  .detail { font-size: 15.8px}

  .content_img { width: 650px }

  .container { height: 863px }
  
  .subImage { width: 325px }

  .content_text.long_distance { top: 270px }
  
  .content_text.mid_distance { top: 170px }
  
  .content_text.short_distance { top: 140px }

  #hero_left_text > p:nth-child(1) {font-size: 89px }

  #hero_left_text > p:nth-child(2) {font-size: 47px }

  .menu_link { font-size: 49px }
}

@media screen and (max-width: 1080px) {
  .title { font-size: 42px }

  .detail { font-size: 15px }

  .content_img { width: 520px }

  .container { height: 690px }

  .subImage { width: 300px }

  .content_text.long_distance { top: 215px }
  
  .content_text.mid_distance { top: 115px }
  
  .content_text.short_distance { top: 85px }

  #hero_left_text > p:nth-child(1) {font-size: 80px }

  #hero_left_text > p:nth-child(2) {font-size: 42px }

  menu_link { font-size: 44px }
}

@media screen and (max-width: 900px) {
  .title { font-size: 32px }

  .detail { font-size: 15px }

  .content_img { width: 450px }

  .container { height: 597px }

  .subImage { width: 275px }

  .content_text.long_distance { top: 185px }
  
  .content_text.mid_distance { top: 85px }
  
  .content_text.short_distance { top: 55px }

  #hero_left_text > p:nth-child(1) {font-size: 72px }

  #hero_left_text > p:nth-child(2) {font-size: 38px }

  .menu_link { font-size: 40px }
}

@media screen and (max-width: 775px) {
  .content_img { 
    max-width: 450px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: block;
  }

  .content_text {
    position: relative;
    top: 0px!important;
    display: inline-block;
  }

  .container {
    text-align: center;
    overflow: hidden;
    height: 666px;
  }
  
  .container > div { padding: 40px 20px 0 }
  
  .split-line, .subImage { display: none }
  .content_img.long_distance { top: -85px }
  .content_img.mid_distance { top: -140px }
  .content_img.short_distance { top: -140px }
  #hero_left_text > p:nth-child(1) { font-size: 65px }
  #hero_left_text > p:nth-child(2) { font-size: 34px }
  .menu_link { font-size: 36px }
}

@media screen and (max-width: 450px) {
  .container { height: 550px }
  .content_img.long_distance { top: -65px }
  .content_img.mid_distance { top: -120px }
  .content_img.short_distance { top: -120px }
  #hero_left_text > p:nth-child(1) { font-size: 50px }
  #hero_left_text > p:nth-child(2) { font-size: 25px }
  .menu_link { font-size: 32px }
  #menu { margin-left: 30% }
}

@media screen and (max-width: 350px) {
  .container { height: 550px }
  .menu_link { font-size: 29px }
}